<div class="row">
  <div class="col-sm-12 text-center">
    <h1><%= "#{@rider.first_name} #{@rider.last_name}" %></h1>
  </div>

  <% if user_signed_in? %>
    <div class="col-sm-12 text-right">
      <hr>
      <%= link_to "Registrar Carrera", new_rider_register_path(rider_id: @rider.id), class: "btn btn-primary" %>
      <hr>
    </div>
  <%end%>

  <div class="col-sm-12 text-center">
    <h3>Carreras:</h3>
  </div>
  <div class="col-sm-12">
    <div class="table-responsive">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>Categoría</th>
            <th>Fecha</th>
            <th>Lugar</th>
            <th>Puntos</th>
            <% if user_signed_in? %> <th></th><%end %>
          </tr>
        </thead>
        <tbody>
          <% @registers.each do |register| %>
            <tr>
              <td><%= (Category.find  register.category).name %></td>
              <td><%= (Race.find register.race_id).title %></td>
              <td><%= register.race_result %></td>
              <td><%= register.points %></td>
            <% if user_signed_in? %>
              <td class="text-right">
                  <%= link_to "<span class='glyphicon glyphicon-pencil'></span>".html_safe, edit_rider_register_path(rider_id: register.rider_id, id: register.id), class: "btn btn-xs btn-primary" %>
                  <%= link_to "<span class='glyphicon glyphicon-eye-open'></span>".html_safe, rider_register_path(rider_id: register.rider_id, id: register.id), class: "btn btn-xs btn-info" %>
                  <%= link_to "<span class='glyphicon glyphicon glyphicon-trash'></span>".html_safe, rider_register_path(rider_id: register.rider_id, id: register.id),
                          method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-warning" %>
              </td>
            <%end%>
            </tr>
          <%end%>
        </tbody>
      </table>
    </div>
  </div>
</div>
