<div class="container">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h1>Detalles Corredor</h1>
      <h2>Datos Personales</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 text-right">
      <hr>
      <%= link_to "Ver Carreras", races_path, class: "btn btn-success" %>
      <%= link_to "Editar Carrera", edit_race_path(@race), class: "btn btn-primary" %>
      <hr>
    </div>
    <div class="col-sm-6">
      <dl class="dl-horizontal">
        <dt>Carrera:</dt>
        <dd><%= @race.title %></dd>
        <dt>Fecha:</dt>
        <dd><%= @race.date %></dd>
        <dt>Descripción:</dt>
        <dd><%= @race.description %></dd>
      </dl>
    </div>
  </div>
</div>