<!-- tr_race_time_lapses.html.erb -->
<tr id="<%=race_time_lapse.id%>">
  <td><%= race_time_lapse.id %></td>
  <td><%= race_time_lapse.start_lap.getlocal.strftime("%H:%M:%S") %> </td>
  <td><%= race_time_lapse.end_lap.getlocal.strftime("%H:%M:%S") %></td>
  <td class="padNumb">
    <%= race_time_lapse.pad_number%>
  </td>
  <td class="text-right">
    <%#= link_to "<span class='glyphicon glyphicon-tasks'></span>".html_safe, rider_registers_path(rider_id: rider.id), class: "btn btn-xs btn-default" %>
    <%= link_to "<span class='glyphicon glyphicon-pencil'></span>".html_safe, edit_race_time_lapse_path(race_time_lapse), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#myModal', :title => 'Mark Ad as Sold', :class => 'btn btn-success active', :method => :get } %>
    <%##= link_to "<span class='glyphicon glyphicon-eye-open'></span>".html_safe, rider_path(rider), class: "btn btn-xs btn-info" %>
    <%= link_to "<span class='glyphicon glyphicon glyphicon-trash'></span>".html_safe, race_time_lapse_path(id: race_time_lapse.id), :remote => true, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-warning" %>
  </td>
</tr>


{ }